/* Documento CSS */
html
{
	 font-family: Verdana;
	 text-align: center;
	 background-color: #F4F4F4;
}

#logo
{
	margin-right: 670px;
	width: 210px;
	height: 50px;
}

h1 
{
	margin-top: 60px;
	font-size: 36px;
	font-family: monospace;
}

#box
{
	margin: 90px auto;
	width: 900px;
	height: 350px;
	border: 2px solid  black;
	border-radius: 5px;
	
}

#ctd ul li
{
	 margin-top: 80px;
	 margin-bottom: 260px;
	 display: inline-block;
	 padding-right: 34px;
}

#ctd input
{
	 background-color: rgb(249, 249, 252);
    border: 1px solid #00000044;
    border-radius: 5px;
    height: 1.6em;
    font-size: 12px;
    appearance: none;
    outline: 0;
    white-space: pre;
}

p
{
	 font-size: small;
	 color:black;
}

.bts
{
	 color: blak;
	 width: 160px;
	 height: 50px;
	 font-size: 23px;
	 line-height: 1.5;
	 text-decoration: none;
	 font-family: monospace;
	 cursor: pointer;
	 background-color: #7DD181;
	 border: 1px solid #7dd181;
}

.bts:hover
{
	 background-color: #588157;
	 border: 1px solid #588157;
}

.btOn
{
	 color: black;
}

.btOff
{
	 color: #38b000;
}

.status
{
	font-size: 12px;
}

#stOn
{
	 color: #38b000;
}

#stOff
{
	 color: #FD0000;
}

hr
{
	 margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.footer
{
	 padding: 10px;
}

